.welcome {
    position: relative;
}

.icon {
    position: absolute;
    width: 90px;
    top: 80px;
    left: 80px;
    animation: pulse 1s infinite;
    padding: 20px;
    border-radius: 50%;
}
  
.icon:hover {
    cursor: pointer;
}

@keyframes pulse {
    0% {
        background-color: rgba(55, 117, 168, 0);
    }
    20% {
        background-color: rgb(55, 117, 168, 0.2);
    }
    40% {
        background-color: rgb(55, 117, 168, 0.3);
    }
    60% {
        background-color: rgb(55, 117, 168, 0.4);
    }
    80% {
        background-color: rgb(55, 117, 168, 0.5);
    }
    100% {
        background-color: rgb(55, 117, 168, 0.6);
    }
}