<div>
    <header>
        <div>Quiz category: {{quiz.category}}</div>
        <div>Quiz name: {{quiz.name}}</div>
    </header>

    <div class="lines">
        <div class="line" *ngFor="let question of quiz.questions">
            <div [ngClass]="{'completed-line': question.selected != undefined}"></div>
        </div>
    </div>
    

    <app-question [question]="quiz.currQuestion"></app-question>

    <div class="arrows">
        <img (click)="getQuestion(-1)" src="../../assets/icons/left-arrow.svg">
        <img (click)="getQuestion(1)" src="../../assets/icons/right-arrow.svg">
    </div>
</div>