<div class="container">
    <header>
        <div class="back" (click)="goBack()">
            <img src="../../assets/icons/back.png" alt="back">
        </div>
        <div>
            <div>Quiz category: {{quiz.category}}</div>
            <div>Quiz name: {{quiz.name}}</div>
        </div>
        <div class="timer-wrapper">
            <img class="timer" src="../../assets/icons/timer.png" alt="timer" class="timer">
            <span>{{timer}}</span>
        </div>
    </header>

    <div class="lines" *ngIf="quiz?.questions?.length !== 0">
        <div *ngFor="let question of quiz.questions">
            <div class="line" [ngClass]="{'completed-line': question.selected != undefined}"></div>
        </div>
    </div>

    <app-question [question]="quiz.currQuestion" *ngIf="quiz?.questions?.length !== 0"></app-question>

    <div class="no-questions" *ngIf="quiz?.questions?.length === 0">
        <span>
            <img class="warning" src="../../assets/icons/warning-image.png" alt="warning">
        </span>
        <span>There is no question yet. Please check later.</span>
    </div>

    <div class="arrows">
        <button [disabled]="!back" (click)="getQuestion(-1)">Previous</button>
        <button [disabled]="!next" (click)="getQuestion(1)">Next</button>
    </div>

    <div class="complete-wrapper" *ngIf="completed">
        <button class="complete" [disabled]="!completed" (click)="complete()">Complete</button>
    </div>
</div>