<div class="container">
    <header>
        <div>Quiz category: {{quiz.category}}</div>
        <div>Quiz name: {{quiz.name}}</div>
    </header>

    <div class="lines">
        <div *ngFor="let question of quiz.questions">
            <div class="line" [ngClass]="{'completed-line': question.selected != undefined}"></div>
        </div>
    </div>
    

    <app-question [question]="quiz.currQuestion"></app-question>

    <div class="arrows">
        <button [disabled]="!back" (click)="getQuestion(-1)">Previous</button>
        <button [disabled]="!next" (click)="getQuestion(1)">Next</button>
    </div>

    <div class="complete-wrapper" *ngIf="completed">
        <button class="complete" [disabled]="!completed" (click)="complete()">Complete</button>
    </div>
</div>