<header>
    <span oncopy="return false" oncut="return false">{{question?.text}}</span>
</header>
<section>
    <div *ngFor="let answer of question?.answers">
        <div [ngClass]="{'selected': question?.selected === answer.id}" class="answer" (click)="select(answer)">
            <span oncopy="return false" oncut="return false">{{answer?.text}}</span>
        </div>
    </div>
    <div class="no-answers" *ngIf="question?.answers?.length === 0">
        <span class="icon">
            <img class="warning" src="../../assets/icons/warning-image.png" alt="warning">
        </span>
        <span>There is no answers yet. Please check later.</span>
    </div>
</section>