.answer {
    margin-bottom: 10px;
    padding: 10px;
}

.answer:hover, .selected {
    background-color: rgb(33, 76, 126);
    color: aliceblue;
    cursor: pointer;
}

.answer:hover {
    padding-left: 14px;
 }

 .no-answers {
     padding: 10px;
     background-color: rgb(238, 247, 225);
 }