<header>
    {{question?.text}}
</header>
<section>
    <div *ngFor="let answer of question?.answers">
        <div [ngClass]="{'selected': question.selected?.id === answer.id}" class="answer" (click)="select(answer)">
            {{answer?.text}}
        </div>
    </div>
    <div class="no-answers" *ngIf="question?.answers?.length === 0">
        <span class="icon">
            <img class="warning" src="../../assets/icons/warning-image.png" alt="warning">
        </span>
        <span>There is no answers yet. Please check later.</span>
    </div>
</section>