<div class="container">
    <div class="form">
        <div class="toggle">
            <button [ngClass]="{'selected': fullForm}" class="toggle-button left"
                (click)="fullForm = true">Expand</button>
            <button [ngClass]="{'selected': !fullForm}" class="toggle-button right"
                (click)="fullForm = false">Hide</button>
        </div>
        <form #f="ngForm" (ngSubmit)="submit(f.value)">
            <div class="title">Creation</div>
            <div class="field">
                <label>Category</label>
                <input #categoryInput="ngModel" type="text" name="category" ngModel minlength="3">
                <!-- <p class="validation" *ngIf="categoryInput.errors?.required && categoryInput.touched">
                    Category is required!
                </p> -->
                <p class="validation" *ngIf="categoryInput.errors?.minlength && categoryInput.touched">
                    Category name must be 3 characters at least!
                </p>
            </div>
            <div class="field">
                <label>Quiz</label>
                <input #quizInput="ngModel" type="text" name="quiz" ngModel minlength="3">
                <p class="validation" *ngIf="quizInput.errors?.minlength && quizInput.touched">
                    Quiz name length must be 3 characters at least!
                </p>
            </div>
            <div class="field">
                <label>Question</label>
                <input #questionInput="ngModel" type="text" name="question" ngModel minlength="10">
                <p class="validation" *ngIf="questionInput.errors?.minlength && questionInput.touched">
                    Quiz name length must be 10 characters at least!
                </p>
            </div>

            <div class="field" *ngIf="fullForm">
                <label>Answers</label>
                <textarea #questionInput="ngModel" type="text" name="answers" ngModel minlength="4"></textarea>
                <p class="validation" *ngIf="questionInput.errors?.minlength && questionInput.touched">
                    Answers length must be 4 characters at least!
                </p>
            </div>

            <div *ngIf="serverError">
                <p class="validation">{{serverError}}</p>
            </div>

            <div class="button-wrapper">
                <button type="submit" [disabled]="f.invalid">Submit</button>
            </div>
        </form>
    </div>
    <div class="loader">
        <div class="title">
            <span>Load categories</span>
            <div class="large-icon rotate" (click)="loadCategories()" [ngClass]="{'rotate': rotateCateg === true}">
                <img src="../../assets/icons/refresh.png" alt="refresh">
            </div>
        </div>
        <div class="items">
            <div *ngFor="let category of categories" class="wrapper">
                <div class="item" (click)="selectItem(category.id)">{{category.name}}</div>
                <div class="small-icon">
                    <img *ngIf="category.selected" src="../../assets/icons/tick-image.png" alt="tick">
                </div>
            </div>
        </div>
        <div class="title">
            <span>Load quizzes</span>
            <div class="large-icon" (click)="loadQuizzes()" [ngClass]="{'rotate': rotateQuiz === true}">
                <img src="../../assets/icons/refresh.png" alt="refresh">
            </div>
        </div>
        <div class="items">
            <div *ngFor="let quiz of quizzes" class="wrapper">
                <div class="item" (click)="selectItem(quiz.id)">
                    <div>{{quiz.name}}</div>
                    <div *ngIf="quiz?.start">{{getDate(quiz.start)}}</div>
                    <div *ngIf="quiz?.start && quiz?.end"> - </div>
                    <div *ngIf="quiz?.end">{{getDate(quiz.end)}}</div>
                </div>
                <div class="small-icon">
                    <img *ngIf="quiz.selected" src="../../assets/icons/tick-image.png" alt="tick">
                </div>
            </div>
        </div>
        <div class="title">
            <span>Load questions by quiz</span>
            <div class="large-icon" (click)="loadQuestions()" [ngClass]="{'rotate': rotateQuest === true}">
                <img src="../../assets/icons/refresh.png" alt="refresh">
            </div>
        </div>
        <div class="items">
            <div *ngFor="let question of questions" class="wrapper">
                <div class="item" (click)="selectItem(question.id)">{{question.text}}</div>
                <div class="small-icon">
                    <img *ngIf="question.selected" src="../../assets/icons/tick-image.png" alt="tick">
                </div>
            </div>
        </div>
    </div>
</div>