.exist:hover {
    padding-bottom: 4px;
    cursor: pointer;
    border-bottom: 2px solid greenyellow;
}

.marked {
    text-align: right;
}

.small-icon {
    width: 15px;
    position: absolute;
    left: 90%;
    top: 40%;
}

.large-icon {
    width: 25px;
}

.large-icon:hover {
    cursor: pointer;;
}

.loader {
    text-align: center;
}

.title {
    padding-left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.wrapper {
    position: relative;
}

.field, .title {
    justify-content: center;
}

textarea {
    height: 90px;
    resize: none;
}