<div class="form">
    <form #f="ngForm" (ngSubmit)="submit(f.value)">
        <div class="title">Creation</div>
        <div class="field">
            <label>Category</label>
            <input #categoryInput="ngModel" type="text" name="category" ngModel required minlength="3">
            <p class="validation" *ngIf="categoryInput.errors?.required && categoryInput.touched">
                Category is required!
            </p>
            <p class="validation" *ngIf="categoryInput.errors?.minlength && categoryInput.touched">
                Category name must be 3 characters at least!
            </p>
        </div>

        <div class="field">
            <label>Quiz</label>
            <input #quizInput="ngModel" type="text" name="quiz" ngModel minlength="3">
            <p class="validation" *ngIf="quizInput.errors?.minlength && quizInput.touched">
                Quiz name length must be 3 characters at least!
            </p>
        </div>

        <!-- <div *ngIf="serverError">
            <p class="validation">{{serverError}}</p>
        </div> -->

        <div class="button-wrapper">
            <button type="submit" [disabled]="f.invalid">Submit</button>
        </div>
    </form>
</div>
