<div class="container" *ngIf="!authService.user?.uid">
    <div class="form">
        <div>
            <button [ngClass]="{'selected': formToggle}" class="toggle-button left" (click)="formToggle = true">{{menu.register}}</button>
            <button [ngClass]="{'selected': !formToggle}" class="toggle-button right" (click)="formToggle = false">{{menu.login}}</button>
        </div>
        <form #f="ngForm" (ngSubmit)="submit(f.value)">
            <div class="title">{{formToggle ? menu.register : menu.login}}</div>
            <div class="field">
                <label>{{menu.email}}</label>
                <input #emailInput="ngModel" type="text" name="email" ngModel required email>
                <p class="validation" *ngIf="emailInput.errors?.required && emailInput.touched">
                    {{validation.requiredEmail}}
                </p>
                <p class="validation" *ngIf="emailInput.errors?.email && emailInput.touched">
                    {{validation.invalidEmail}}
                </p>
            </div>
    
            <div class="field">
                <label>{{menu.password}}</label>
                <input #passwordInput="ngModel" type="password" name="password" ngModel required minlength="4">
                <p class="validation" *ngIf="passwordInput.errors?.required && passwordInput.touched">
                    {{validation.requiredPassword}}
                </p>
                <p class="validation" *ngIf="passwordInput.errors?.minlength && passwordInput.touched">
                    {{validation.passwordLength}}
                </p>
            </div>
    
            <div class="field" *ngIf="serverError">
                <span class="single validation">{{serverError}}</span>
            </div>
    
            <div class="button-wrapper">
                <button class="button" type="submit" [disabled]="f.invalid">{{menu.submit}}</button>
            </div>
        </form>
    </div>
</div>