<div class="container">
    <header>
        <p>Quizzes</p>
    </header>
    <div class="items">
        <div *ngFor="let quiz of quizzes">
            <div *ngIf="validateDate(quiz)" class="item" routerLink="/quiz/{{quiz.id}}">
                <div class="main">
                    <div class="icon" *ngIf="lock(quiz.id)">
                        <img src="../../assets/icons/lock.png" alt="lock">
                    </div>
                    <div>{{quiz.name}}</div>
                </div>
                <div *ngIf="lock(quiz.id)" class="stars">
                    <div *ngFor="let star of calcStars(quiz.id)" class="icon">
                        <img src="../../assets/icons/star.png" alt="star">
                    </div>
                </div>
                <div *ngIf="lock(quiz.id)">{{quiz.points * 100}}%</div>
                <div *ngIf="!lock(quiz.id)" class="expire">
                    <span class="icon">
                        <img src="../../assets/icons/calendar.png" alt="calendar">
                    </span>
                    <span>{{getDate(quiz.expire)}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="no-items" *ngIf="quizzes?.length === 0">
        No items
    </div>
</div>