<div class="container">
    <header>
        <p>{{menu.title}}</p>
    </header>
    <div class="items">
        <div *ngFor="let quiz of quizzes">
            <div *ngIf="quiz.date > 0" class="item" routerLink="/quiz/{{quiz.id}}">
                <div class="start">
                    <div class="icon">
                        <img *ngIf="lock(quiz)" src="../../assets/icons/lock.png" alt="lock">
                        <img *ngIf="!lock(quiz)" src="../../assets/icons/open.png" alt="open">
                    </div>
                    <div>{{quiz.name}}</div>
                </div>
                <div class="middle">
                    <div *ngIf="lock(quiz)" class="stars">
                        <div *ngFor="let star of calcStars(quiz.id)" class="icon">
                            <img src="../../assets/icons/star.png" alt="star">
                        </div>
                    </div>
                    <div *ngIf="!lock(quiz)">
                        <div class="timer-wrapper">
                            <img class="timer" src="../../assets/icons/timer.png" alt="timer" class="timer">
                            <div>{{getTimer(quiz.time)}}</div>
                        </div>
                    </div>
                </div>
                <div class="end">
                    <div *ngIf="lock(quiz)">{{quiz.points * 100}}%</div>
                    <div *ngIf="!lock(quiz)">
                        <span>{{quiz.date === 1 ? menu.leftOne : menu.left}} </span>
                        <span>{{quiz.date}} </span>
                        <span>{{quiz.date === 1 ? menu.day : menu.days}} </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="no-items" *ngIf="quizzes?.length === 0">
        No items
    </div>
</div>