.icon {
    width: 15px;
}

.item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0.2rem;
    padding: 1.3rem 0.8rem;
}

.start {
    justify-self: start;
    align-self: center;
    display: flex;
    align-items: center;
    gap: 5px;
}

.middle {
    justify-self: center;
    align-self: center;
}

.end {
    justify-self: end;
    align-self: center;
}

img {
    vertical-align: middle;
    width: 15px;
}

.stars {
    display: flex;
}

.timer-wrapper {
    display: flex;
    align-items: center;
    gap: 2px;
}

.timer {
    width: 15px;
}