header {
    text-align: center;
}

.quizzes {
    display: flex;
    flex-flow: column;
}

.quiz {
    padding: 15px 50px;
    background-color: bisque;
    margin-bottom: 10px;
}

.quiz:hover{
    background-color: rgb(231, 188, 136);
    cursor: pointer;
}