<div class="nav">
    <div class="normal-icon" (click)="_navigate('/')">
        <img src="../../../assets/icons/quiz-logo-image.png" alt="logo">
    </div>
    <div class="normal-icon" (click)="menuOn = !menuOn">
        <img src="../../../assets/icons/hamburger-image.png" alt="hamburger">
    </div>

    <div class="menu" *ngIf="menuOn">
        <div class="menu-item" (click)="_navigate('/quizzes')">
            <a>Quizzes</a>
        </div>
        <div class="menu-item" (click)="_navigate('/category')">
            <a>{{menu.categories}}</a>
        </div>
        <div class="menu-item" (click)="_navigate('/user')" *ngIf="!authService.user?.uid">
            <a>User</a>
        </div>
        <div class="menu-item" (click)="_navigate('/admin')" *ngIf="authService.user?.admin">
            <a>Dashboard</a>
        </div>
        <div class="menu-item" (click)="logout()" *ngIf="authService.user?.uid">
            <a>Sign Out</a>
        </div>
    </div>
</div>

<div class="notify" *ngIf="notify">
    <span>{{notify}}</span>
</div>
