.nav {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    background-color: rgb(33, 76, 126);
    padding: 10px 20px;
}

.nav-right {
    display: flex;
    gap: 1rem;
}

.notify {
    background-color: rgb(243, 243, 183);
    padding: 4px 0;
    text-align: center;
    position: sticky;
    top: 0;
}

.menu {
    z-index: 9999;
    position: absolute;
    left: 0;
    top: 63px;
    background-color: rgb(33, 76, 126);
    color: aliceblue;
    width: 100%;
    height: calc(100vh - 63px);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.menu-item {
    min-width: 50%;
    padding: 0.5rem;
    margin: 0.7rem 0;
    gap: 0.7rem;
    display: flex;
    justify-content: center;
    width: 50%;
    text-align: left;
}

.menu-item:hover {
    cursor: pointer;
    background-color: rgb(46, 90, 141);
}

.menu-icon {
    width: 30px;
    align-self: center;
}

.menu-content {
    font-size: larger;
    align-self: center;
}

.language {
    position: relative;
}