.container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    background-color: aquamarine;
    padding: 10px 20px;
}

a {
    text-decoration: none;
    padding: 7px;
}

a:hover {
    border-bottom: 3px rgb(0, 105, 88) solid;
}