<div class="nav">
    <div class="normal-icon" (click)="_navigate('/')">
        <img src="../../../assets/icons/quiz-logo.png" alt="logo">
    </div>
    <div class="nav-right">
        <div class="normal-icon language" (click)="setLang(_menu.language)">
            <img [src]="'../../../assets/icons/' + _menu.language + '-language.png'" alt="language">
        </div>
        <div class="normal-icon" (click)="menuOn = !menuOn">
            <img *ngIf="!menuOn" src="../../../assets/icons/hamburger.png" alt="hamburger">
            <img *ngIf="menuOn" src="../../../assets/icons/close.png" alt="close">
        </div>
    </div>

    <div class="menu" *ngIf="menuOn">
        <div class="menu-item" (click)="_navigate('/quizzes')">
            <img class="menu-icon" src="../../../assets/icons/quiz.png" alt="quiz">
            <span class="menu-content">{{menu.quizzes}}</span>
        </div>
        <div class="menu-item" (click)="_navigate('/category')">
            <img class="menu-icon" src="../../../assets/icons/category.png" alt="category">
            <span class="menu-content">{{menu.categories}}</span>
        </div>
        <div class="menu-item" (click)="_navigate('/user')" *ngIf="!authService.state">
            <img class="menu-icon" src="../../../assets/icons/join.png" alt="join">
            <span class="menu-content">{{menu.join}}</span>
        </div>
        <div class="menu-item" (click)="_navigate('/admin')" *ngIf="authService.user?.admin">
            <img class="menu-icon" src="../../../assets/icons/quiz.png" alt="quiz">
            <span class="menu-content">Dashboard</span>
        </div>
        <div class="menu-item" (click)="logout()" *ngIf="authService.state">
            <img class="menu-icon" src="../../../assets/icons/logout.png" alt="logout">
            <span class="menu-content">{{menu.logout}}</span>
        </div>
    </div>
</div>

<div class="notify" *ngIf="notify">
    <span>{{notify}}</span>
</div>